@font-face {
  font-family: "iconfont"; /* Project id 3096802 */
  src: url('//at.alicdn.com/t/font_3096802_6uez1ajqocg.woff2?t=1642129997303') format('woff2'),
       url('//at.alicdn.com/t/font_3096802_6uez1ajqocg.woff?t=1642129997303') format('woff'),
       url('//at.alicdn.com/t/font_3096802_6uez1ajqocg.ttf?t=1642129997303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flower:before {
  content: "\e61c";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-tishi:before {
  content: "\e8ba";
}

.icon-spider:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e63f";
}
